.banner {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.1) 0,
      rgba(0, 0, 0, 0.3) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(images/back.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.sosmed i {
  font-size: 1.5rem;
}

#contact .col i {
  font-size: 1.5rem;
}

body.active {
  background-color: #292929;

  #about {
    color: white;
  }
  #staff {
    color: white;
  }
  #contact .form p {
    color: white;
  }
}
